article.product-miniature .thumbnail-container .product-actions form{
    display: none;
}

div#mymodule_block_home p {
    font-size: 150%;
    font-style:italic;
}

  #product-availability, 
  .product-prices, 
  .product-customization,
  .product-actions .product-variants, 
  .product-actions .product-add-to-cart,
  .product-actions .product-additional-info .social-sharing,
  #add-to-cart-or-refresh .product-add-to-cart,
  #block-reassurance{
      display: none;
  }

  .input-group.m-b .input-group-addon{
    font-size: 13 !important;
  }  

  .bid-button-container{
    text-align: center;
    padding-top: 2%;
  }

  .unlock-button-container{
    text-align: center;
    padding-top: 2%;
  }