.main-home-container{
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.9) 100%), url("/img/home-back.jpg") !important;
  background-repeat: no-repeat !important;;
}

.servicios-container{
  /**  
  background-image: linear-gradient(to bottom, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.8) 100%), url("/img/finanzas-corporativa.jpg") !important;
  background-size: 100% !important;
  background-repeat: no-repeat !important;
  **/
  background-color: whitesmoke !important;
}

.contacto-container{
    background-color: black;
}
